.footer {
	padding: 70px 0;
	background-color: $color-gray-light;

	@media (max-width: $md3+px) {
		padding: 30px 0;
	}

	&__body {
		display: flex;
		align-items: center;

		@media (max-width: 1100px) {
			flex-direction: column;

			.logo {
				order: 1;
				margin: 20px 0px 0px 0px;
			}
		}

		@media (max-width: $md3+px) {
			//align-items: start;
		}
	}

	&__contacts {
		margin: 0px 0px 0px 155px;
		display: flex;
		align-items: flex-end;

		@media (max-width: 1200px) {
			margin: 0px 0px 0px 70px;
		}

		@media (max-width: 1100px) {
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: 650px) {
			display: block;
			margin: 0px 0px 10px 0px;
		}
	}

	&__column {
		&:last-child {
			margin: 0px 0px 0px 70px;

			@media (max-width: 650px) {
				margin: 0px;
			}
		}

		@media (max-width: 650px) {
			margin: 0px 0px 24px 0px;
		}
	}

	&__text {
		font-size: 16px;
		color: $color-black;
		font-weight: 600;

		i {
			color: $color-gold;
			font-size: 18px;
		}
	}
}
