$color-black: #272727;
$color-white: #FCFCFC;
$color-beige: #F6F6F6;
$color-green: #2B9040;
$color-green-dark: #0A5B1B;
$color-gray-light: #ECECEC;
$color-gray: #808181;
$color-gray-dark: #D1D2D4;
$color-gold: #c47a2c;
$color-gold-light: #f9b974;

.h1, .h2, .h3, .h4, .h5 {
	margin: 0;
	color: $color-black;
	font-weight: 600;
	line-height: 1.35;
}
.h1 {
	font-size: 30px;
}
.h2 {
	font-size: 22px;
}
.h3 {
	font-size: 18px;
}
.h4 {
	font-size: 16px;
}
.h5 {
	font-size: 14px;
}