.header {
	padding: 40px 0;

	@media (max-width: $md4+px) {
		padding: 20px 0;
	}

	&__body {
		display: flex;
		align-items: center;
	}

	&__logo {
		flex: 1 1 auto;

		@media (max-width: $md2+px) {
			.logo__text {
				display: none;
			}
		}
	}
	
	&__contacts {
		display: flex;
		
		@media (max-width: 1200px) {
			flex-direction: column;
		}

		@media (max-width: 650px) {
			display: none;
		}
	}

	&__link {
		margin: 10px 30px 10px 0px;

		&:last-child {
			margin: 10px 50px 10px 0px;
		}
	}
}
