.main-block {
	background-color: $color-white;
	padding: 10px 0px 0px 0px;
	margin: 0px 0px 30px 0px;

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__content {
		width: 100%;
		
		@media (min-width: 991px) {
			max-width: 500px;
		}
	}

	&__title {
		margin: 0px 0px 20px 0px;
		font-size: 34px;
		color: $color-black;
		font-weight: 700;
		line-height: 1.36;

		@media (max-width: $md4+px) {
			font-size: 24px;
		}
	}

	&__button {
		display: inline-block;
		margin: 0px 15px 0px 0px;

		@media (max-width: $md4+px) {
			display: block;
			margin: 0px 0px 20px 0px;
		}
	}

	&__link {
		font-size: 14px;
		color: $color-green;
		font-weight: 600;

		i {
			margin: 0px 0px 0px 5px;
			font-size: 10px;
		}
	}
}
.main-menu {
	padding: 15px 0 85px 0;
}
.item-skko-menu {
	display: block;
	height: 100%;
	padding: 45px 30px;
	background-color: $color-white;
	transition: all 0.3s ease 0s;

	&_small {
		padding: 15px 30px;
	}

	@media (max-width: $md2+px) {
		padding: 20px;
	}

	@media (max-width: $md4+px) {
		padding: 10px;
	}
	
	&:hover {
		box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.1 );
		// box-shadow: 0px 1px 2px rgb(38 38 38 / 4%), 0px 12px 24px rgb(38 38 38 / 16%);

		.item-skko-menu__icon_01 {
			background-image: url('../img/icon-menu/01-green.png');
		}

		.item-skko-menu__icon_02 {
			background-image: url('../img/icon-menu/02-green.png');
		}

		.item-skko-menu__icon_03 {
			background-image: url('../img/icon-menu/03-green.png');
		}

		.item-skko-menu__icon_04 {
			background-image: url('../img/icon-menu/04-green.png');
		}

		.item-skko-menu__icon-small_05 {
			background-image: url('../img/icon-menu/05-green.png');
		}

		.item-skko-menu__icon-small_06 {
			background-image: url('../img/icon-menu/06-green.png');
		}

		.item-skko-menu__icon-small_07 {
			background-image: url('../img/icon-menu/07-green.png');
		}

		.item-skko-menu__icon-small_08 {
			background-image: url('../img/icon-menu/08-green.png');
		}

		.item-skko-menu__icon_09 {
			background-image: url('../img/icon-menu/09-green.png');
		}

		.item-skko-menu__title {
			color: $color-green;
		}
	}
	
	&__row {
		display: flex;
	}

	&__icon {
		margin: 0px 30px 0px 0px;
		flex: 0 0 48px;
		height: 48px;
		background-repeat: no-repeat;

		&_01 {
			background-image: url('../img/icon-menu/01.png');
		}

		&_02 {
			background-image: url('../img/icon-menu/02.png');
		}

		&_03 {
			background-image: url('../img/icon-menu/03.png');
		}

		&_04 {
			background-image: url('../img/icon-menu/04.png');
		}

		&_09 {
			flex: 0 0 55px;
			height: 50px;
			background-image: url('../img/icon-menu/09.png');
		}

		@media (max-width: $md2+px) {
			margin: 0px 15px 0px 0px;
		}
	}

	&__icon-small {
		margin: 0px 15px 0px 0px;
		flex: 0 0 28px;
		height: 28px;
		background-repeat: no-repeat;

		&_05 {
			background-image: url('../img/icon-menu/05.png');
		}

		&_06 {
			background-image: url('../img/icon-menu/06.png');
		}

		&_07 {
			background-image: url('../img/icon-menu/07.png');
		}

		&_08 {
			background-image: url('../img/icon-menu/08.png');
		}
	}

	&__title {
		display: block;
		transition: all 0.3s ease 0s;

		&:not(:last-child) {
			margin: 0px 0px 30px 0px;
		}

		&:hover {
			color: $color-green;
		}
	}
}
.accordion-menu {
	background-color: $color-white;
	
	&__btn {
		width: 100%;
		padding: 45px 30px;
		font-size: 16px;
		font-weight: 600;
		text-align: left;
		background-color: $color-white;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: all 0.3s ease 0s;

		@media (max-width: $md3+px) {
			padding: 20px;
		}

		@media (max-width: $md4+px) {
			padding: 15px;
		}
		
		i {
			font-size: 20px;
			margin-left: 10px;
		}
		
		&.collapsed {
			i:before {
				transform: rotate(180deg);
			}
		}

		&:hover {
			color: #2B9140;
		}
	}

	&__body {
		padding: 0px 40px 30px;

		@media (max-width: $md3+px) {
			padding: 0px 30px 20px;
		}
	}
}
.contacts {
	margin: 0px 0px 45px 0px;
}
.requisites {
	margin: 0px 0px 60px 0px;

	&__nav-tab {
		@media (max-width: $md3+px) {
			display: none;
		}
	}

	&__nav-link {
		padding: 45px 30px;
		font-weight: normal;
		text-align: center;
		background-color: transparent;

		&.active {
			background-color: $color-white;
		}

		@media (max-width: $md3+px) {
			padding: 25px;
		}
	}

	&__tab-accordion {
		width: 100%;
		padding: 20px;
		font-weight: normal;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: left;
		border-bottom: 1px solid $color-gray;

		&_last {
			border-bottom: none;
		}


		@media (min-width: $md3+px) {
			display: none;
		}

		i {
			font-size: 20px;
			margin-left: 10px;
		}
		
		&.d_active {
			color: #2B9140;

			i:before {
				transform: rotate(180deg);
			}
		}
	}

	.tab-pane {
		background-color: $color-white;
		padding: 40px 30px 10px;

		@media (max-width: $md4+px) {
			padding: 30px 20px 10px;
		}
	}
}
// =========   BANNER  =============================================
.banner {
	margin: 0px 0px 60px 0px;
}
.accordion-skko {
	
	&__btn {
		width: 100%;
		padding: 15px 0 15px 20px;
		border: 0;
		background-color: transparent;
		padding: 45px 30px;
		text-align: left;
		background-color: $color-white;
		display: flex;
		justify-content: space-between;
		position: relative;

		i {
			font-size: 20px;
			margin-left: 10px;
		}

		&.collapsed {
			i:before {
				transform: rotate(180deg);
			}
		}

		&:hover {
			border-color: #2B9140;
		}
	}

	&__body {
		padding: 10px 0 20px;

		li {
			margin: 0px 0px 20px 20px;

			&:not(last-child) {
				margin: 0px 0px 30px 0px;
			}
		}
	}
}
// =========   FAQ  =============================================
.faq {
	margin: 0px 0px 90px 0px;
	
	li {
		list-style: disc;
		margin: 0px 0px 16px 0px;

		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}

	a:hover {
		color: $color-green;
	}
}
.faq-definitions {
	padding: 30px;
	background-color: $color-white;

	@media (max-width: $md3+px) {
		padding: 20px;
	}

	p {
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
}
// =========   NEWS  =============================================
.news {
	margin: 0px 0px 75px 0px;

	&__btn {
		margin: 30px auto 0;
	}
}
.item-news {
	height: 100%;
	
	&_big {
		background-color: $color-white;
		padding: 15px;

		.item-news__img {
			padding: 54% 0px 0px 0px;

			@media (max-width: $md3+px) {
				padding: 64% 0px 0px 0px;
			}
		}

		.item-news__title {
			font-size: 22px;

			@media (max-width: $md3+px) {
				font-size: 16px;
			}
		}
	}

	&__img {
		padding: 64% 0px 0px 0px;
	}

	&__title {
		flex: 1 1 auto;
		margin: 0px 20px 0px 0px;

		@media (max-width: $md4+px) {
			margin: 0px 0px 5px 0px;
		}

		&:hover {
			text-decoration: underline;
			color: $color-green;
		}
	}

	&__text {
		font-size: 14px;
	}
}
.news-post {
	margin: 0px 0px 90px 0px;
	line-height: 1.6;
	
	&__body {
		padding: 30px 0;
		background-color: $color-white;

		@media (max-width: 768px) {
			margin: 0 -20px;
		}
	}

	&__content {
		width: 100%;
		max-width: 1020px;
		margin: 0 auto;
		padding: 0 20px;
	
		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin: 24px auto;
		}
	
		ul li {
			list-style: disc;
		}
	}
}
.page-404 {
	height: 100vh;
	background: url('../img/404.jpg') center no-repeat;
}
.cto {
	margin: 0px 0px 100px 0px;
}
.item-contacts {
	margin: 0px 0px 90px 0px;
	line-height: 1.6;
}
.item-partners {
	background-color: $color-white;

	i {
		color: $color-green;
	}

	a:hover {
		color: $color-green;
	}
}